#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: black;
}


#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}


.main-poster {
position:relative;
width: 100%;
height: 60vh;
background-size: cover;
background-position: center;

.gradient{
  position: absolute;
  left: 0%;
  width: 100%;
  height: 400px;
  background-image: url('/assets/download.jpg');
  background-size: cover;


  .title{
    position: absolute;
    left: 0%;
    bottom: 70px;
    width: 100%;
    color: white;
    background-color:rgb(166, 170, 152);
    text-align: center;

  }
 }
}
  
 .ion-buttom{
  background-color: white;
}
.ion-card{
  width: 100%;
  height: 160px;
  box-shadow: 12px;
  border-radius: 12px;

  img{
    width: 100%;
    height: 160px;
    box-shadow: 12px;
    border-radius: 12px;
  }
}
.Anuncio{
  position:relative;
  background-color: #8c8c8c;
}
