<ion-content>
  <div class="header">
    <ion-grid>
      <ion-row class="ion-text-left ion-align-items-center">
        <ion-col size ="2">
          <img src="/assets/logo.jpg">
        </ion-col>

        <ion-col size="10">
          <ion-row>
            <ion-col size="4"><span>Comprar</span></ion-col>
            <ion-col size="4"><span>Corretores</span></ion-col>
            <ion-col size="4"><span>Saber mais</span></ion-col>

        </ion-row>
      </ion-col>

</ion-row>
</ion-grid>
</div>



<div class ="main-poster">
    <div class="gradient top"></div>

      <div class="gradient botton">
        <div class="title" >
          <h1>Compre sua casa nova</h1>
        </div>
      </div>
  </div>

  <ion-grid class="acions">
    <ion-row>

      <ion-col size="4">
        <ion-button color="dark" expand="block" >
            <div>
              <ion-icon name="add-outline"></ion-icon>
              <ion-label>Interesses</ion-label>
            </div>
        </ion-button>
      </ion-col>

      <ion-col size="4">
        <ion-button color="dark" expand="block" >
         
            <ion-icon slot="start" name="play"></ion-icon>
            Video em 360
          
      </ion-button>
      </ion-col>

      <ion-col size="4">
        <ion-button color="dark" expand="block" >
          <div>
            <ion-icon name="information-circle-outline"></ion-icon>
            <ion-label>Filtro</ion-label>
          </div>
      </ion-button>
      </ion-col>

    </ion-row>

  </ion-grid>

  


   <ion-slides>
    <ion-slide>
      <ion-card color="primary">
         
          <ion-card-header>
            <ion-card-title>Tudo digital</ion-card-title>
            <ion-card-subtitle>Destination</ion-card-subtitle>
            <ion-card-content>
              Comodidade é poder ter toda a emissão e análise de documentação pelo celular. Além disso, a elaboração do contrato e escritura também conta com assinatura pela telinha sem sair de casa. E se precisar de uma assessoria, estamos sempre à disposição por telefone.
            </ion-card-content>
          </ion-card-header>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card color ="dark">
        
          <ion-card-header>
            <ion-card-title>Confiança na decisão</ion-card-title>
            <ion-card-subtitle>Destination</ion-card-subtitle>
            <ion-card-content>
              Receba uma análise completa de preços para você fazer uma decisão mais segura. Tenha à disposição atendimento personalizado para facilitar a papelada, o processo de financiamento e a reforma do imóvel. É mais informação e transparência para sua compra.
            </ion-card-content>
          </ion-card-header>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card color="Danger">
      
          <ion-card-header>
            <ion-card-title>Encontre o Lugar Ideal</ion-card-title>
            <ion-card-subtitle>Destination</ion-card-subtitle>
            <ion-card-content>
              Fazemos a combinação perfeita de preço, localização e comodidades. Cada informação dos imóveis anunciados é conferida previamente para você. A visita pode ser presencial ou à distância por videochamada com o suporte de corretores parceiros
            </ion-card-content>
          </ion-card-header>
      </ion-card>
    </ion-slide>
    </ion-slides>


    <ion-toolbar color ="sucess">
      <ion-title>Destaques da Semana</ion-title>
    </ion-toolbar>

    <div class ="Anuncio">
    <ion-card>
      <ion-slides>
        <ion-slide>
      <ion-img src="/assets/images.jpg" width="100%"></ion-img>
    </ion-slide>
    <ion-slide>
      <ion-img src="/assets/sala1.jpg" width="100%"></ion-img>
        </ion-slide>
        <ion-slide>
          <ion-img src="/assets/cozinha1.jpg" width="100%"></ion-img>
            </ion-slide>
            <ion-slide>
              <ion-img src="/assets/garagem1.jpg" width="100%"></ion-img>
                </ion-slide>
      </ion-slides>
      <ion-card-header>

        <ion-card-title>R$ 1.324,000</ion-card-title>
        <ion-card-subtitle>São Paulo</ion-card-subtitle>
        <ion-card-content>
         4 quartos, 2 salas, 1 cozinha, Garagem para 3 carros, quintal
        </ion-card-content>
      </ion-card-header>
  </ion-card>
</div>
<div class ="Anuncio">
  <ion-card>
    <ion-img src="/assets/download.jpg" width="100%"></ion-img>
    <ion-card-header>
      <ion-card-title>R$ 1.324,000</ion-card-title>
      <ion-card-subtitle>São Paulo</ion-card-subtitle>
      <ion-card-content>
       1 suite, 4 quartos, 2 salas, 1 cozinha, Garagem para 3 carros, quintal
      </ion-card-content>
    </ion-card-header>
</ion-card>
</div>
<div class ="Anuncio">
  <ion-card>
    <ion-img src="/assets/images.jpg" width="100%"></ion-img>
    <ion-card-header>
      <ion-card-title>R$ 1.324,000</ion-card-title>
      <ion-card-subtitle>São Paulo</ion-card-subtitle>
      <ion-card-content>
       4 quartos, 2 salas, 1 cozinha, Garagem para 3 carros, quintal
      </ion-card-content>
    </ion-card-header>
</ion-card>
</div>



  

  

</ion-content>


  

